spring:
  application:
    name: service-usuario

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${MYSQL_DATABASE}?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  config:
    import: file:.env[.properties]

server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_HOST}
    register-with-eureka: true
    fetch-registry: true